body.light {
  background-color: #f0f0f0;
  color: #333;
}

body.dark {
  background-color: #131313;
  color: #f0f0f0;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center
}

.todo-form input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todo-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item button {
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}

.todo-item .edit-button {
  margin-right: 10px;
  color: green;
  cursor: pointer;
}

.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
}
